  <footer class="main-footer">
	About
    <div class="pull-right text-xs-center">
      Copyright &copy; 2017 <a href="{{ site.url }}">{{ site.name }}</a>. All rights reserved.
    </div>
  </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ site.sitecdn }}js/bootstrap.min.js"></script>
<script src="{{ site.sitecdn }}js/app.min.js"></script>
{% if page.layout == 'post' %}
<script src="{{ site.sitecdn }}js/slider.js"></script>
<script src="{{ site.sitecdn }}player/jwplayer.js"></script>
<script type="text/javaScript">
jwplayer("player").setup({
	skin: {
		"url":"{{ site.sitecdn }}player/skins/tubex.css",
		"name": "tubex"
	},
	playlist: [{
		"sources": [{
			"file": "//api.viditut.com/watch?v={{ page.video-id }}&format=best[height=360]",
			"type": "video/mp4",
			"label": "SD",
			"default": true
		}, {
			"file": "//api.viditut.com/watch?v={{ page.video-id }}&format=best[height=720]",
			"type": "video/mp4",
			"label": "HD"
		}],
		"image": "{{ page.image }}"
	}],
	autostart: false,
	primary: "html5",
	flashplayer: "{{ site.sitecdn }}player/jwplayer.flash.swf",
	preload: "metadata",
	stretching: "exactfit",
	width: "100%",
	height: "100%",
	aspectratio: "113:76"
});
</script>
{% endif %}
<noscript>
	<div class="script-warning">JavaScript is required for this website. Please turn it on in your browser and reload the page.</div>
</noscript>