  <title>{% if page.title %}{{ page.title }} &bull; {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
  <meta name="description" content="{{ page.subtitle }}"/>
  <meta name="robots" content="noodp"/>
  <link rel="publisher" href="https://plus.google.com/{{ site.author.google-plus }}"/>
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  {% if page.meta-title %}
  <meta property="og:title" content="{{ page.meta-title }}" />
  {% elsif page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  {% else %}
  <meta property="og:title" content="{{ site.title }}" />
  {% endif %}
  <meta property="og:description" content="AmiHub is a website that provides tutorial about SEO, Internet Marketing &amp; Webmaster. Learn easily how to find traffic, make money and create website." />
  {% if page.id %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  {% else %}
  <meta property="og:url" content="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}" />
  {% endif %}
  <meta property="og:site_name" content="{{ site.name }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {% if page.meta-description %}
  <meta name="twitter:description" content="{{ page.meta-description }}">
  {% elsif page.subtitle %}
  <meta name="twitter:description" content="{{ page.subtitle }}">
  {% else %}
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncatewords: 50 }}">
  {% endif %}
  {% if page.meta-title %}
  <meta name="twitter:title" content="{{ page.meta-title }}" />
  {% elsif page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
  <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/amihub.com\/","name":"Amihub","alternateName":"Ami Vincentiyana","potentialAction":{"@type":"SearchAction","target":"https:\/\/amihub.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
  <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Person","url":"https:\/\/amihub.com\/","sameAs":["https:\/\/www.facebook.com\/amihubs","https:\/\/www.instagram.com\/amihubs\/","https:\/\/www.linkedin.com\/in\/amihub","https:\/\/plus.google.com\/+amihub","https:\/\/www.youtube.com\/c\/Amihub","https:\/\/id.pinterest.com\/amihubs\/","https:\/\/twitter.com\/AmiHub"],"@id":"#person","name":"Ami Vincentiyana"}</script>
  <meta name="msvalidate.01" content="{{ site.bing_verification }}" />
  <meta name="google-site-verification" content="{{ site.google_verification }}" />
  <meta name="p:domain_verify" content="{{ site.pinterest_verification }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} &raquo; Feed" href="{{ site.baseurl }}/feed.xml" />
