  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">CATEGORIES</li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
      </ul>
    </section>
  </aside>