  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">CATEGORIES</li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li><a href="/categories/"><i class="fa fa-circle-o"></i> <span>Documentation</span></a></li>
        <li class="header">PORN RANKINGS</li>
        <li><a href="/rankings/weekly-top-videos.html"><i class="fa fa-circle-o text-red"></i> <span>Top Rated</span></a></li>
        <li><a href="/rankings/weekly-top-viewed.html"><i class="fa fa-circle-o text-yellow"></i> <span>Most Viewed</span></a></li>
        <li><a href="/rankings/weekly-top-commented.html"><i class="fa fa-circle-o text-aqua"></i> <span>Most Commented</span></a></li>
        <li><a href="/last50.php"><i class="fa fa-circle-o text-green"></i> <span>Newest Videos</span><span class="pull-right-container"><span class="label pull-right bg-green">50</span></span></a></li>
      </ul>
    </section>
  </aside>